div{
    border:2px solid black;
    margin:auto;
    padding:10px;
    background-color: rgb(235, 235, 235)
}
.product{
    border:1px solid grey;
    margin:auto;
    padding:10px;
    width:300px;
    background-color: white;
}
h1{
    text-align: center;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    border:2px solid black;
}
.head{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.price{
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}
strike{
    color: red;
}
button{
    background-color: orange;
    color: white;
    border:1px solid black;
    font-size: 16px;
    height: 40px;
    width: 300px;
}
.buy{
    background-color: blue;
}