body {
    font-family: Arial;
    background: #ffffff85;
}

.container {
    width: 95%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    border: 2px solid black;
}

.card {
    width: 250px;
    text-align: center;
    padding: 25px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

.circle {
    height: 80px;
    width: 80px;
    background: #00d9ff;
    border-radius: 50%;
    margin: 0 auto 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

h3 {
    margin-bottom: 5px;
}

p {
    margin: 3px 0;
    font-size: 14px;
    color: #333;
}

